<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Script/layout.css"></script>
    @RenderSection("Scripts", false/*required*/)
</head>
<body>
    <div>
        @RenderBody()
        dsaajdaspdsa
    </div>
</body>
</html>
