<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/layout.css" />
    @RenderSection("Style", false)
</head>
<body>
    <header>
        <p id="Title">GoT</p>
    </header>
        @RenderBody()
        @RenderSection("Scripts", false)
</body>
</html>
