#MenuDiv{
    position:absolute;
    visibility:collapse;
    background-color:white;
    background-position-x:50px;
    background-position-y:50px;
    width:120px;
    height:240px;
    outline-style:dotted;
    outline-width:5px;
}
label.OrderLable > input.OrderRadio{ /* HIDE RADIO */
  display:none;
}
label.OrderLable > input.OrderRadio + img.OrderImage{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label.OrderLable > input.OrderRadio:checked + img.OrderImage{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}