body {
    background-color:cornflowerblue;
    font-family:'Charlemagne Std';
}
#Title{
    font-size:x-large;
}
header {
    background-color:aquamarine;
    outline-style:outset;
    outline-width:2px;
    outline-color:black;
}
.banner{
    outline-style:dotted;
    outline-color:black;
    vertical-align: middle;
}