@{
    Layout = "~/Views/Shared/layout.cshtml";
}

@section Style{
    <link rel="stylesheet" type="text/css" href="~/Scripts/Game.css" />
}
@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Game.js"></script>
}
<div id="MenuDiv">
    <label class="OrderLable">
        <input class="OrderRadio" name="move" type="radio" />
        <img class="OrderImage" src="~/Resources/Counters/Attack.png" />
    </label><br />
    <label class="OrderLable">
        <input class="OrderRadio" name="move" type="radio" />
        <img class="OrderImage" src="~/Resources/Counters/Attack.png" />
    </label><br />
    <label class="OrderLable">
        <input class="OrderRadio" name="move" type="radio" />
        <img class="OrderImage" src="~/Resources/Counters/Attack.png" />
    </label><br />
</div>
<input type="button"id="TurnButton" value="Resolve turn"/> <div id="PowerCounter" ></div> <br />

<canvas id="RenderCanvas" width="500" height="500" >Canvas Not working</canvas>


