@{
    Layout = "~/Views/Shared/layout.cshtml";
}

@section Style{
    <link rel="stylesheet" type="text/css" href="~/Scripts/Game.css" />
}
@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Game.js"></script>
}

<div id="MenuDiv">
    <label class="OrderLable" id="NullOrder">
        <input class="OrderRadio" name="move" value="" type="radio" />
        <img class="OrderImage" src="~/Resources/Counters/Null.png" />
    </label><br />
    <label class="OrderLable" id="MoveOrder">
        <input class="OrderRadio" name="move" value="Move" type="radio" />
        <img class="OrderImage" src="~/Resources/Counters/Move.png" />
    </label>
    <label class="OrderLable" id="MoveStarOrder">
        <input class="OrderRadio" name="move" value="MoveStar" type="radio" />
        <img class="OrderImage" src="~/Resources/Counters/MoveStar.png" />
    </label><br />
    <label class="OrderLable" id="ConsolidateOrder">
        <input class="OrderRadio" name="move" value="Consolidate" type="radio" />
        <img class="OrderImage" src="~/Resources/Counters/Consolidate.png" />
    </label>
    <label class="OrderLable" id="ConsolidateStarOrder">
        <input class="OrderRadio" name="move" value="ConsolidateStar" type="radio" />
        <img class="OrderImage" src="~/Resources/Counters/ConsolidateStar.png" />
    </label><br />
    <label class="OrderLable" id="RaidOrder">
        <input class="OrderRadio" name="move" value="Raid" type="radio" />
        <img class="OrderImage" src="~/Resources/Counters/Raid.png" />
    </label>
    <label class="OrderLable" id="RaidStarOrder">
        <input class="OrderRadio" name="move" value="RaidStar" type="radio" />
        <img class="OrderImage" src="~/Resources/Counters/Raid.png" />
    </label><br />
</div>

<input type="button"id="TurnButton" value="Resolve turn"/> <div id="PowerCounter" ></div> <br />

<canvas id="RenderCanvas" width="500" height="500" >Canvas Not working</canvas>


