@{
    Layout = "~/Views/Shared/layout.cshtml";
}

@section Style{
    <link rel="stylesheet" type="text/css" href="~/Scripts/Game.css" />
}
@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Game.js"></script>
}
@RenderPage("./GameUI/MenuDiv.cshtml")
@RenderPage("./GameUI/NewTurn.cshtml")
<div id="MainUI">
<input type="button"id="TurnButton" value="Resolve turn"/> <div id="PowerCounter" ></div> <br />

<canvas id="RenderCanvas" width="500" height="500" >Canvas Not working</canvas>
</div>
