@{
}

@{
    Layout = "~/Views/Shared/layout.cshtml";
    ViewBag.Title = "Store";
}

@section Scripts{
    <script src="~/Script/Lobby.js"></script>
}

<input type="button" value="Ready" id="ReadyButton" />
<div id="Output">
</div>